{% extends "layout_admin.html.twig" %}
{% if author.job.id == 1 %}
    {set title = 'Photographer Data'|trans %}
    {% set active = 'photographers' %}
{% else %}
    {set title = 'Author Data'|trans %}
    {% set active = 'authors' %}
{% endif %}


{% block content %}
    <div class="row">
        <div class="col-lg-6">
            <h2>{{ title }}</h2>

            <p>Hi!</p>

        </div>
    </div>
{% endblock %}