{% extends 'admin/layout_dashboard.html.twig' %}
{% set active = 'dashboard' %}
{% set title = 'Administración Fototeca Digital' %}

{% block js %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <h1>Hola admin!</h1>
{% endblock %}